.center {
  text-align: center;
}
#container {
  width: 200px;
  margin: 50px auto 0;
}
#entryinput {
  width: 100%;
}
#entrybutton {
  width: 100px;
  text-align: center;
  color: #fff;
  background-color: #c00;
  padding: 2em 0;
  margin: 20px auto;
  font-size: 24px;
  font-weight: bold;
}